asgiref==3.6.0
autopep8==2.0.2
distlib==0.3.6
Django==4.1.7
djangorestframework==3.14.0
filelock==3.9.0
Pillow==9.4.0
platformdirs==3.1.0
pycodestyle==2.10.0
Pygments==2.14.0
pytz==2023.2
sqlparse==0.4.3
virtualenv==20.20.0
whitenoise==6.4.0
