{% extends "main.html" %} {% block content %}

<p>Hello, you are on the {{ message }} page</p>

<hr />

<h1>Projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Positive Votes</th>
    <th>Ratio</th>
    <th>Created</th>
    <th></th>
  </tr>

  {% for project in projects %}

  <tr>

    <td><a href="{% url 'project' project.id %}">{{ project.title }}</a></td>

    <td>{{ project.votes_ratio }} %</td>

    <td>{{ project.votes_total }}</td>

    <td>{{ project.created_at}}</td>

    <td>
      <a href="{% url 'delete-project' project.id %}">Delete</a>
    </td>

    <td>
      <a href="{% url 'update-project' project.id %}">Update</a>
    </td>


    </tr>

  {% endfor %}
</table>

{% endblock %}

